* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-container {
  max-width: 800px;
  height: 800px;
  margin: 0 auto;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.buttons button {
  width: 150px;
  height: 150px;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-placeholder {
  height: 100px;
  width: 100px;
  border: 2px solid red;
}