* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-container {
  margin: 0 auto;
  max-width: 700px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.start,
.game-over {
  margin: 0 auto;
  height: 700px;
  width: 700px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}


.hidden {
  display: none;
}

.score {
  height: 80px;
}

.score p {
  font-size: 20px;
  font-weight: bold;
  color: rgb(100, 100, 100);
}

.move p {
  font-size: 24px;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.buttons button {
  width: 150px;
  height: 150px;
}

button:hover {
  background-color: rgb(200, 200, 200);
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color:rgb(255, 255, 255);
  border: 3px solid rgb(0, 0, 0);

  font-size: 24px;
  font-weight: bold;
}

.play {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.play .plays, 
.play .play-text{
  height: 60px;
}

.img-placeholder {
  height: 100px;
  width: 100px;
  border: 2px solid red;
}

.start .img-placeholder,
.game-over .img-placeholder {
  height: 400px;
  width: 400px;
}